.box{
    height:100px;
    width:300px ;
    background-color:pink;
    animation-name:fontanimation;
    animation-direction:reverse;
    animation-delay:0;
    animation-iteration-count:4;
    animation-timing-function:ease-in;
    animation-duration:2s;
}
@keyframes fontanimation{
    from{font-size:20px;}
    to{
        font-size:40px;
    }
    from{background-color:red;}
    to{background-color:yellow;}
}